.e_container {
	width: 100%;
}

@media (min-width: 400px) {
	.e_container {
		max-width: 360px;
	}
}

@media (min-width: 480px) {
	.e_container {
		max-width: 420px;
	}
}

@media (min-width: 576px) {
	.e_container {
		max-width: 550px;
	}
}

@media (min-width: 768px) {
	.e_container {
		max-width: 700px;
	}
}

@media (min-width: 992px) {
	.e_container {
		max-width: 940px;
	}
}

@media (min-width: 1200px) {
	.e_container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.e_container {
		max-width: 1240px;
	}
}
